header ul.menu{
  --time : 0.3s;
  --move : -1.4em;
  --size : 90px;

  display:flex;
  align-items:center;
  gap:20px;

  margin-left:auto;
  
}

header ul.menu a{
  text-decoration:none;
  white-space:nowrap;
  color:black;
  display:block;
  text-align:center;
  width:100%;
}

header ul.menu *{
  font-size:1.0em;
}

header ul.menu > *{
  position:relative;
  cursor:pointer;
  width:var(--size);
}

/* header ul.menu li::before{
  content:"";
  display:block;
  width:30%;
  height:100%;
  background-color:#F007;
  clip-path:polygon(50% 0, 100% 0, 100% 100%, 0 100%);
  transform:translateX(-100%);
  
}
header ul.menu li:hover::before{
  transform:translateX(var(--size));
  transition-property:transform;
  transition-duration:calc(var(--time) * 0.7);
  transition-delay:0.2s;
} */
header ul.menu li{
  height:1.4em;
  overflow:hidden;
  position:relative;
}

header ul.menu li a{
  display:block;
  
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  width:100%;
  height:1.4em;

}
header ul.menu li:hover a{
  transition-property:margin;
  transition-duration:var(--time);
  margin-top:var(--move);

}

header ul.menu li a::before{
  content:attr(name);
  display:block;
}

header ul.menu li a::after{
  content:attr(name);
  display:block;

  color:transparent;
  background: linear-gradient(to right, transparent,white 45% 55%,transparent);
  background-color:black;
  background-clip:text;
  background-size :50%;
  background-repeat:no-repeat;
  background-position:-50% 0%;
}
header ul.menu li:hover a::after{
  background-position:170% 0%;
  transition-property:background-position;
  transition-duration:0.4s;
  transition-delay:0.1s;
}

@media (max-width:900px){
  header ul.menu{
    position:fixed;
    z-index:11;
    top:0;
    left:0;
    flex-direction:column;
    gap:20px;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;

    display:flex;

    background-color:rgba(0,0,0,0.7);

    pointer-events:none;
    opacity:0;
  }
  /* header ul.menu *{
    color:white;
    font-size:1.2em;
  } */
  header ul.menu li:hover a{
    transition:none;
    margin-top:0;
  }
  header ul.menu li a::before{
    color:white;
    font-size:1.2em;
  }
  header ul.menu li a::after{
    display:none;
  }

  header ul.menu > li{
    text-align:center;
  }

  #hamburger:checked ~ header ul.menu{
    pointer-events:auto;
    opacity:1;
    transition-property: opacity;
    transition-duration: 2.0s;
  }

}
