.more{
  display:block;
  margin:80px auto 40px;
  padding:15px;
  background-color:#07C8C0;
  font-size:1.2em;
  color:white;
  width:250px;
  text-align:center;
  cursor:pointer;
  position:relative;
  text-decoration:none;
}
@media (hover:hover){
  .more:hover{
    opacity:0.5;
  }
  .more::after{
    content:"";
    display:block;
    width:0.7em;
    height:0.7em;
    border-color:white;
    border-style:solid;
    border-width:0 1px 1px 0;
    position:absolute;
    right:15px;
    top:50%;
    transform:translate(0,-50%) rotate(-45deg);
  }
}
.more:active{
  opacity:0.5;
}