#designs .front-title{
  bottom:60%;
  left:50%;
  transform:translate(-50%,-50%);
}

#designs .wrap{
  background-color:#F8F8FA;
  width:100%;
  min-height:400px;
  padding:40px 0;
}


#designs .more{
  display:block;
  margin:40px auto;
  padding:15px;
  background-color:#07C8C0;
  font-size:1.2em;
  color:white;
  width:250px;
  text-align:center;
  cursor:pointer;
  position:relative;
}
@media (hover:hover){
  #designs .more:hover{
    opacity:0.5;
  }
  #designs .more::after{
    content:"";
    display:block;
    width:0.7em;
    height:0.7em;
    border-color:white;
    border-style:solid;
    border-width:0 1px 1px 0;
    position:absolute;
    right:15px;
    top:50%;
    transform:translate(0,-50%) rotate(-45deg);
  }
}
#designs .more:active{
  opacity:0.5;
}

#designs .carousel{
  width:100%;
  height:400px;
  display:flex;
  gap:40px;
  justify-content:center;
}

#designs .carousel .card{
  border:1px solid #aaa;
}
#designs .carousel .card img{
  height:100%;
  object-fit:cover;
}




