main{
  width:100%;
  min-height:calc(100vh - var(--size-header) - var(--size-footer) - 2px);
  /* margin-top:var(--size-header); */
  position:relative;
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
  z-index:1;
}

main section{
  width:100%;
  min-height:50vh;
  margin-bottom:100px;
}

