.titles{
  position:relative;
  width:80%;
  margin:0 auto;
}
.titles .back-title{
  font-size:7.0em;
  font-weight:bold;
  color: #09c8be2a;
  margin:0;
  padding:0;
  letter-spacing:-0.05em;
  line-height:1.0em;
}
.titles .front-title{
  font-size:1.4em;
  font-weight:bold;
  position:absolute;
  top:50%;
  left:0px;
  transform:translate(0 , -50%);
  letter-spacing:0.1em;
  margin:0;
  white-space:nowrap;
}

@media (max-width:768px){
  .titles .back-title{
    font-size:4.5em;
  }
  .titles .front-title{
    font-size:1.2em;
  }
}
