@import "main/top.css";
@import "main/news.css";
@import "main/concept.css";
@import "main/owner.css";
@import "main/price.css";
@import "main/access.css";
@import "main/reserve.css";
@import "main/contact.css";

main{
  min-height:100vh;
}

main section{
  padding-top:50px;
  padding-bottom:50px;
}

main .section-title{
  color:#D4A936;
  font-size:34px;
  margin:50px auto;
  text-align:center;
}

