.logo{
  font-size: 22px;
  height:100%;
}
.logo *{
  font-size: 1.0em;
}
.logo,
.logo *{
  color:var(--color-main);
}
.logo a{
  display:block;
  height:100%;
  text-decoration:none;
  display:flex;
  gap:5px;
  align-items:center;
}
.logo svg{
  width  : 1.2em;
  height : 1.2em;
  fill   : var(--color-main);
}


p.logo{
  display:flex;
  align-items:center;
  margin:0;
}