header{
  position: sticky;
  z-index:10;
  top:0;
  left:0;
  width:100%;
  height:var(--size-header);

  /* mix-blend-mode:difference; */
  background: linear-gradient(white, transparent);
}

header *{
  color:var(--col-font-1);
}

@media (max-width:500px){
  :root{
    --size-header : 50px!important;
  }
}
