form[name="estimate"]{
  display:block;
  margin:20px;
}

form[name="estimate"] *{
  font-size:12px;
}

/* form[name="estimate"] ul{
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
  gap:20px;
} */

/* form[name="estimate"] li{
  list-style:none;
  margin:0;
  padding:0;
} */

form[name="estimate"] p{
  margin:0;
  padding:0;
  font-weight:bold;
  font-size:14px;
}

form[name="estimate"] li label{
  display:inline-block;
  cursor:pointer;
}
form[name="estimate"] li label:hover{
  background-color:#FEE;
}

form[name="estimate"] li input[type="radio"]{
  margin-right:5px;
}

form[name="estimate"] input:not([type="radio"],[type="checkbox"]),
form[name="estimate"] select,
form[name="estimate"] textarea{
  padding:5px;
  border:1px solid black;
  background-color:white;
  outline:0;
}

.result[data-view=""]{
  display:none;
}

.result{
  padding:20px;
  border:1px dashed black;
  border-radius:10px;
}

.result *{
  font-size:12px;
}

.result ul{
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
  gap:20px;
}
.result li{
  list-style:none;
  margin:0;
  padding:0;
}
.result p{
  margin:0;
  padding:0;
  font-weight:bold;
  font-size:14px;
}

/* form[name="estimate"] select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
} */


