.logo{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:0 20px;
}
.logo a{
  text-decoration:none;
  
}

.logo .main{
  font-size:2.4em;
  color:var(--color-font);
}
.logo .sub{
  font-size:0.8em;
  letter-spacing:0.2em;
  color:var(--color-font);
}

@media (max-width:500px){

}