header ul.menu{
  display:flex;
  gap:0px;
  height:40%;
  border-radius:40px;
  margin-right:20px;
  overflow:hidden;
}
header ul.menu{
  position:absolute;
  right:0px;
  z-index:10;
}

header ul,
header li{
  list-style:none;
  margin:0;
  padding:0;
}

header li{
  display:flex;
  align-items:center;
  padding:0;
}

header .menu a{
  text-decoration:none;
  padding:0 20px;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100%;
  font-size:0.9em;
  min-width:60px;
  text-align:center;
  position:relative;
  color:var(--color-font);
  font-size:0.8em;
  mix-blend-mode:difference;
  letter-spacing:0;
}
header .menu a:hover{
  background-color:#F3F3F3;
}

@media (max-width:768px){
  #hamburger ~ header ul.menu{
    transform:translate(0,-100%);
  }

  #hamburger:checked ~ header ul.menu{
    transform:translate(0,0);
  }

  header ul.menu{
    position:fixed;
    top : 0;
    left:0;
    width:100vw;
    height:100vh;
    flex-direction:column;
    height:auto;
    gap:0;
    background-color:black;
    border-radius:0;
    margin:0;
    padding:50px 0;

    transition-property:transform, opacity;
    transition-duration:0.7s;
  }
  header .menu a{
    color:white;
    padding:20px 0;
    background-color:rgba(0,0,0,0.5);
  }
  header .menu a:hover::after{
    display:none;
  }
  header .menu a:hover{
    background-color:rgba(100,0,0,0.5);
  }
}