#about{
  background-color:var(--color-sub-bg);
}

#about .wrap{
  display:flex;
  gap:50px;
  width:1000px;
  max-width:100%;
  margin:50px auto;
}

#about .wrap img{
  width:50%;
  border-radius:30px 0 30px 0;
  object-fit:cover;
}

#about .wrap .data{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top:30px;
}

#about .wrap .data .text{
  font-size:0.9em;
  line-height:1.8em;
}

@media (max-width:768px){
  #about .wrap{
    flex-direction:column;
    padding:0 20px;
    gap:30px;
    margin:0;
  }
  #about .wrap img{
    width:100%;
    margin:0 auto;
  }
  #about .wrap .data{
    margin-top:0px;
  }
}
