.main-bottom{
  --size:100px;
  background-color:#F9FAED;
}
.main-bottom::before{
  content:"";
  display:block;
  background-color:white;
  height:var(--size);
  border-radius:0 0 var(--size) var(--size);
}


footer{
  text-align:center;
  padding:50px 0 0;
  position:relative;
  background-color:#F9FAED;
}

footer .flex{
  display:flex;
  align-items:center;
}

footer img.logo{
  height:40px;
}

footer *{
  color:#1C1D1E;
}

footer a{
  text-decoration:none;
}


footer .logo *{
  font-size:1.2em;
}

footer .menu{
  display:flex;
  gap:20px;
  align-items:start;
  margin-left:auto;
}
footer .menu *{
  font-size:0.9em;
}


footer .sns{
  display:flex;
  gap:20px;
  align-items:start;
}

footer .sns svg{
  fill:#D4AA37;
  width:30px;
  height:30px;
}
footer .sns svg:hover{
  opacity:0.5;
}

footer .copy{
  margin-top:50px;
  background-color:#E3E1CF;
  padding:20px;
}


@media (max-width:768px){
  .main-bottom{
    display:none;
  }

  footer{
    padding-top:20px;
  }

  footer .flex{
    flex-direction:column;
    gap:30px;
  }

  footer .menu{
    flex-direction:column;
    margin:0;
    
  }

  /* footer{
    padding:50px 20px;
  }
  footer .flex{
    flex-wrap:wrap;
    gap:0;
  }
  footer .flex .logo{
    width:50%;
    text-align:center;
  }
  footer .flex .menu{
    width:50%;
    align-items:center;
  }
  footer .flex .sns{
    width:100%;
    margin:50px 0 0 0;
    text-align:center;
  } */

}
