footer{
  text-align:center;
  padding:20px;
  position:relative;
}

footer img.logo{
  height:40px;
}

footer img.kumamon{
  position:absolute;
  top:0;
  right:10%;
  transform:translateY(-100%);
  display:block;
  width:100px;
}

@media (max-width:768px){
  footer img.kumamon{
    width:70px;
  }
}
