@import "menu.css";
@import 'hamburger.css';
@import 'logo.css';

header{
  position:fixed;
  top:0;
  width:100%;
  height:var(--size-header);
  z-index:10;

  display:flex;
  margin:0;
  padding:0 30px;

}

header a{
  text-decoration:none;
}



@media (max-width:500px){
  :root{
    --size-header : 60px!important;
  }
}

