#company{
  --size-padding:30px;
}

#company *{
  font-size:1.1em;
}

#company .col{
  gap:var(--size-padding);
}
#company .row{
  gap:20px;
  border-bottom:1px solid #707070;
  padding-bottom:var(--size-padding);
  align-items:center;
}

#company .title{
  font-size:0.9em;
  width:200px;
  word-wrap:break-all;
}
#company .content{
  font-size:1.0em;
  white-space:nowrap;
  word-wrap:break-all;
}
