#concept{

}

#concept .wrap{
  gap:0px;
  margin:220px auto 0;
}

#concept .img-1{
  width:300px;
}

#concept .content{
  display:flex;
  flex-direction:column;
  gap:20px;
  padding:0 20px;
}

#concept .size-1{
  text-align:center;
  font-size:2.4em;
}
#concept .size-2{
  text-align:center;
  font-size:1.2em;
}
#concept .size-3{
  font-size:0.9em;
  margin-top:30px;
}

@media (max-width:768px){
  #concept .area{
    /* flex-direction:column; */
    margin-top:0;
  }
  #concept .img-1{
    width:auto;
    height:150px;
  }
  #concept .wrap{
    margin-top:80px;
  }
}
