@import "top.css";
@import 'concept.css';
@import 'service.css';
@import 'news.css';

main{
  display:block;
  width:100%;
  height:100%;
  background:linear-gradient(90deg, #ebf4ee , #faf4e8 , #ebf4ee);
  background-color:red;
}

main > section{
  min-height:100vh;
  padding-top:var(--size-header);
}

main .section-title{
  font-size:1.5em;
  text-align:center;
  letter-spacing:0.2em;
}

@media(max-width:768px){
  main .spacer{
    height:0;
  }
}