#news{
  --size-padding:30px;
}

#news *{
  font-size:1.1em;
}

#news .col{
  gap:var(--size-padding);
}
#news .row{
  gap:20px;
  border-bottom:1px solid #707070;
  padding-bottom:var(--size-padding);
  align-items:center;
}

#news .date{
  font-size:1.0em;
}
#news .title{
  width:200px;
  word-wrap:break-all;
}
#news .text{
  font-size:0.9em;
  white-space:nowrap;
  word-wrap:break-all;
}


#news .photos{
  margin-top:100px;
  display:flex;
  gap:10px;
  margin-left:-200px;
}

#news .photos img{
  width:400px;
  height:250px;
  object-fit:cover;
}

#news .photos > *:nth-of-type(2n){
  transform:translateY(50px);
}

@media (max-width:768px){
  #news .photos img{
    width:250px;
    height:160px;
  }
  #news .photos > *:nth-of-type(2n){
    transform:translateY(30px);
  }
}
