#top{
  
}

#top .title-area{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin-top:20px;
}

#top .main-title{
  display:block;
  font-size: max(10.71vw, 4em);
  line-height:1.1em;
}

#top .sub-title{
  font-size:max(1.71vw, 1.2em);
  line-height:1.2em;
}

#top .photos{
  display:flex;
  justify-content:center;
  gap:20px;
  width:100%;
  height:40vh;
  padding:10px;
}

#top .photos > div{
  width:30.0%;
  height:100%;
  position:relative;
  overflow:hidden;
}

#top .photos > div:nth-of-type(2){
  transform:translateY(50px);
}

#top .photos img{
  height:100%;
  object-fit:cover;
}

@media (max-width:768px){
  #top .main-title {
    font-size: max(10.71vw, 2.5em);
  }
  #top .sub-title {
    font-size:max(1.71vw, 0.9em);
  }
  #top .photos{
    gap:10px;
    padding:10px;
    height:50vh;
  }
  #top .photos > div:nth-of-type(1),
  #top .photos > div:nth-of-type(3){
    width:18%;
  }
  #top .photos > div:nth-of-type(2){
    width:60%;
  }
}
