@import "default.css";
@import "var.css";
@import "scroll.css";

*{
  font-size:14px;
  font-family: HuiFontP109,sans-serif;	
  letter-spacing:0.2em;
}

img,svg,canvas{
  /* max-width:100%; */
}

ul,ol,li{
  list-style:none;
  margin:0;
  padding:0;
}


/**
 * Customize
 */

.wrap{
  width:var(--size-wrap);
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}

.col{
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
}

@media(max-width:768px){
  .row{
    flex-direction:column;
  }
}

.spacer{
  height:50px;
}
