html{
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

main > section,
footer{
  scroll-snap-align: start;
}

@media(max-width:768px){
  main > section,
  footer{
    scroll-snap-align: none;
  }
}
