#introduction{
  --size-border:10px;

  padding-bottom:0;
  position:relative;
  background-color:var(--color-header);
}
#introduction .wrap{
  margin-bottom:50px;
}

#introduction ul{
  display:flex;
  gap:30px;
  justify-content:center;
  margin-bottom:100px;
  width:800px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}

#introduction ul li{
  text-align:center;
  width:25%;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:20px;
}


#introduction ul .img{
  --size:200px;
  width:var(--size);
  height:var(--size);
  border-radius:50%;
  overflow:hidden;

  animation-name: anim-stretch;
  animation-duration: 3.0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
#introduction ul img{
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
  transition-property:transform;
  transition-duration:0.3s;
}

@media (hover:hover){
  #introduction ul img:hover{
    transform:scale(1.2);
  }
}
#introduction ul img:active{
  transform:scale(1.2);
}

#introduction ul li:nth-of-type(1) .img{
  border:var(--size-border) solid #F0D5C8;
  animation-delay:0.0s;
}
#introduction ul li:nth-of-type(2) .img{
  border:var(--size-border) solid #FADF85;
  animation-delay:0.3s;
}
#introduction ul li:nth-of-type(3) .img{
  border:var(--size-border) solid #AED0DD;
  animation-delay:0.6s;
}
#introduction ul li:nth-of-type(4) .img{
  border:var(--size-border) solid #BEC474;
  animation-delay:0.9s;
}

#introduction ul li:nth-of-type(2n-1){
  padding-top:50px;
}

#introduction ul .arrow{
  text-align:center;
  display:inline-block;
  margin-top:10px;
}

#introduction ul .arrow::before,
#introduction ul .arrow::after{
  transform:translate(2em, -50%);
}

#introduction ul li:nth-of-type(2) .arrow::before{
  background-color:#FADF85;
}

#introduction ul li:nth-of-type(2) .arrow::after{
  background-color:#F5EAC6;
}

#introduction ul li:nth-of-type(3) .arrow::before{
  background-color:#AED0DD;
}

#introduction ul li:nth-of-type(3) .arrow::after{
  background-color:#E1F1F7;
}

#introduction ul li:nth-of-type(4) .arrow::before{
  background-color:#BEC474;
}

#introduction ul li:nth-of-type(4) .arrow::after{
  background-color:#DEE2B5;
}

#introduction svg{
  position:absolute;
  top:100%;
  left:0;
  fill:var(--color-header);
}

@media (max-width:768px){
  #introduction ul{
    flex-direction:column;
    align-items:center;
  }
  #introduction ul li:nth-of-type(2n-1){
    padding-top:0;
  }
  #introduction ul .img{
    --size:260px;
    /* width:260px;
    height:260px; */
  }
}

/**
 * Animation
 * スカッシュ・アンド・ストレッチ」（Squash and Stretch) 
 */
@keyframes anim-stretch{
  0%{
    /* transform:scale(1.0, 1.0); */
    width  : calc(var(--size) * 1.0);
    height : calc(var(--size) * 1.0);
    margin:0;
  }
  7%{
    /* transform:scale(1.1, 0.9); */
    width  : calc(var(--size) * 1.1);
    height : calc(var(--size) * 0.9);
    margin : calc(var(--size) * 0.05);
  }
  14%{
    /* transform:scale(0.9, 1.1); */
    width  : calc(var(--size) * 0.9);
    height : calc(var(--size) * 1.1);
    margin : calc(var(--size) * 0.05 * -1);
  }
  21%{
    /* transform:scale(1.0, 1.0); */
    width  : calc(var(--size) * 1.0);
    height : calc(var(--size) * 1.0);
    margin:0;
  }
  
}
